Script de generación de datos sinteticos TFM Daniel Herranz Segundo

Obtiene los datos base (10000 Registros) obtenidos de la herramienta fillDB basados en la estructura relacional y realiza la limpieza y duplicación hasta los registros esperados > 1 millon

In [243]:
import pandas as pd
import numpy as np
import os

In [1]:
#Variables de los ficheros de datos salida
AccountInfo_file_out = '../MockData/AccountInfo_1M.csv'
Address_file_out = '../MockData/Address_1M.csv'
Amount_file_out = '../MockData/Amount_1M.csv'
Country_file_out = '../MockData/Country_1M.csv'
CreditLine_file_out = '../MockData/CreditLine_1M.csv'
Currency_file_out = '../MockData/Currency_1M.csv'
CurrentAccount_file_out = '../MockData/CurrentAccount_1M.csv'
CustomerProfile_file_out = '../MockData/CustomerProfile_1M.csv'
Position_Keeping_file_out = '../MockData/Position_Keeping_1M.csv'

In [2]:
#Función para resetear ficheros de salida
def reset_files(file):
    if os.path.exists(file):
        os.remove(file)
        print("The file", file ,"have been removed")
    else:
        print("The file", file ,"does not exist")

In [249]:
#Limpiamos los ficheros de salida
reset_files(AccountInfo_file_out)
reset_files(Address_file_out)
reset_files(Amount_file_out)
reset_files(Country_file_out)
reset_files(CreditLine_file_out)
reset_files(Currency_file_out)
reset_files(CurrentAccount_file_out)
reset_files(CustomerProfile_file_out)
reset_files(Position_Keeping_file_out)

The file ../MockData/AccountInfo_1M.csv does not exist
The file ../MockData/Address_1M.csv does not exist
The file ../MockData/Amount_1M.csv does not exist
The file ../MockData/Country_1M.csv does not exist
The file ../MockData/CreditLine_1M.csv does not exist
The file ../MockData/Currency_1M.csv does not exist
The file ../MockData/CurrentAccount_1M.csv does not exist
The file ../MockData/CustomerProfile_1M.csv have been removed
The file ../MockData/Position_Keeping_1M.csv have been removed

In [250]:
#Carga de la información de dataframes por entidades

AccountInfo_df = pd.read_csv('../MockData/base/AccountInfo.csv')
Address_df = pd.read_csv('../MockData/base/Address.csv')
Amount_df = pd.read_csv('../MockData/base/Amount.csv')
Country_df = pd.read_csv('../MockData/base/Country.csv')
CreditLine_df = pd.read_csv('../MockData/base/CreditLine.csv')
Currency_df = pd.read_csv('../MockData/base/Currency.csv')
CurrentAccount_df = pd.read_csv('../MockData/base/CurrentAccount.csv')
CustomerProfile_df = pd.read_csv('../MockData/base/CustomerProfile.csv')
PositionKeeping_df = pd.read_csv('../MockData/base/PositionKeeping.csv')

In [251]:
#Longitudes actuales 
print(len(AccountInfo_df))
print(len(Address_df))
print(len(Amount_df))
print(len(CreditLine_df))
print(len(CurrentAccount_df))
print(len(CustomerProfile_df))
print(len(PositionKeeping_df))

10000
328
10000
10000
10000
10000
1543

In [252]:
#Generamos una función mas de 1M de registros basados en registros anteriores
def generate_new_values_by_samples(df,rango):
    for x in range(rango):
        df = df.append(df.sample(frac=0.50,replace = False))
    return df

In [253]:
print("AccountInfo_df:" , AccountInfo_df.columns)
print("Address_df:", Address_df.columns)
print("Amount_df:",Amount_df.columns)
print("Country_df:",Country_df.columns)
print("CreditLine_df:",CreditLine_df.columns)
print("Currency_df:",Currency_df.columns)
print("CurrentAccount_df:",CurrentAccount_df.columns)
print("CustomerProfile_df:",CustomerProfile_df.columns)
print("PositionKeeping_df:",PositionKeeping_df.columns)

AccountInfo_df: Index(['AccountInfoId', 'AccountId', 'SchemeName', 'Identification', 'Name',
       'Unnamed: 5'],
      dtype='object')
Address_df: Index(['PartyId', 'AddressType', 'AddressLine', 'StreetName', 'BuildingNumber',
       'PostCode', 'TownName', 'CountrySubDivision', 'CountryId',
       'Unnamed: 9'],
      dtype='object')
Amount_df: Index(['AmountId', 'CurrencyId', 'Amount', 'Unnamed: 3'], dtype='object')
Country_df: Index(['CountryId', 'ShortName', 'Description', 'Code', 'Unnamed: 4'], dtype='object')
CreditLine_df: Index(['CreditLineId', 'CurrencyId', 'Amount', 'Type', 'Included',
       'Unnamed: 5'],
      dtype='object')
Currency_df: Index(['CurrencyId', 'Code', 'Description', 'Unnamed: 3'], dtype='object')
CurrentAccount_df: Index(['AccountId', 'PartyId', 'Status', 'StatusUpdateDateTime', 'AccountType',
       'NickName', 'OpeningDate', 'AccountSubType', 'Unnamed: 8'],
      dtype='object')
CustomerProfile_df: Index(['PartyId', 'PartyNumber', 'PartyType', 'Name', 'FullLegalName',
       'LegalStructure', 'BeneficialOwnership', 'AccountRole', 'EmailAddress',
       'Phone', 'Unnamed: 10'],
      dtype='object')
PositionKeeping_df: Index(['AccountId', 'DateTime', 'CreditDebitIndicator', 'Type', 'AmountId',
       'CreditLineId', 'Unnamed: 6'],
      dtype='object')

In [254]:
#Borrado de columnas residuales proceso anterior
del(AccountInfo_df['Unnamed: 5'])
del(Address_df['Unnamed: 9'])
del(Amount_df['Unnamed: 3'])
del(Country_df['Unnamed: 4'])
del(CreditLine_df['Unnamed: 5'])
del(Currency_df['Unnamed: 3'])
del(CurrentAccount_df['Unnamed: 8'])
del(CustomerProfile_df['Unnamed: 10'])
del(PositionKeeping_df['Unnamed: 6'])

#Tratamiento y limpieza de datos Customer Profile
#Indexado PartyId para mejor legibilidad
CustomerProfile_df['PartyId'].reset_index()
CustomerProfile_df['PartyId'] = CustomerProfile_df.index
CustomerProfile_df[CustomerProfile_df.columns[pd.Series(CustomerProfile_df.columns).str.startswith('Unnamed:')]]
#Limpieza de datos. Eliminamos el apostrofe del campo AccountRole y PartyType
CustomerProfile_df['AccountRole'] = CustomerProfile_df['AccountRole'].str.replace("'",'')
CustomerProfile_df['PartyType'] = CustomerProfile_df['PartyType'].str.replace("'",'')

#Limpieza de datos. Eliminamos el apostrofe del campo SchemeName (IMPORTANTE)
AccountInfo_df['SchemeName'] = AccountInfo_df['SchemeName'].str.replace("'",'')

#Limpieza de datos. Eliminamos el apostrofe del campo Status y AccountType y AccountSubType (IMPORTANTE)
CurrentAccount_df['Status'] = CurrentAccount_df['Status'].str.replace("'",'')
CurrentAccount_df['AccountType'] = CurrentAccount_df['AccountType'].str.replace("'",'')
CurrentAccount_df['AccountSubType'] = CurrentAccount_df['AccountSubType'].str.replace("'",'')

#Limpieza de columnas residuales y no necesarias en el documento Posiiton Keeping
CreditLine_df['Type'] = PositionKeeping_df['Type'].str.replace("'",'')

#Limpieza de datos. Eliminamos el apostrofe del campo Status y AccountType y AccountSubType (IMPORTANTE)
PositionKeeping_df['CreditDebitIndicator'] = PositionKeeping_df['CreditDebitIndicator'].str.replace("'",'')
PositionKeeping_df['Type'] = PositionKeeping_df['Type'].str.replace("'",'')

In [255]:
AccountInfo_df.sample(1)

     AccountInfoId  AccountId SchemeName  Identification          Name
978            979        979        NaN             NaN  Durgan Group

In [256]:
Address_df.sample(1)

,PartyId,AddressType,AddressLine,StreetName,BuildingNumber,PostCode,TownName,CountrySubDivision,CountryId
178,5701,New,0591 Ian Lights Apt. 058,Considine Spring,62870,43374-7925,West Nelliemouth,944920005.0,3

In [257]:
Amount_df.sample(1)

      AmountId  CurrencyId        Amount
4628      4629           1  6.306397e+06

In [258]:
CreditLine_df.sample(1)

      CreditLineId  CurrencyId  Amount Type  Included
8428          8429           1     0.0  NaN         0

In [259]:
CurrentAccount_df.sample(1)

,AccountId,PartyId,Status,StatusUpdateDateTime,AccountType,NickName,OpeningDate,AccountSubType
5327,5328,5328,Disabled,2018-05-11 06:08:42.00,Business,seize B2B metrics,1992-02-20 12:19:45.00,POI

In [260]:
CustomerProfile_df.sample(1)

,PartyId,PartyNumber,PartyType,Name,FullLegalName,LegalStructure,BeneficialOwnership,AccountRole,EmailAddress,Phone
2469,2469,21512860.0,sol,Roosevelt,Dr. Foster Schaden,Dr.,4,UK.OBIE.Principal,adriana.blanda@example.org,1-755-492-57

In [261]:
PositionKeeping_df.sample(1)

,AccountId,DateTime,CreditDebitIndicator,Type,AmountId,CreditLineId
329,1363,1985-07-29 06:53:56.00,Credit,Business,6549,1363

In [262]:
AccountInfo_df = generate_new_values_by_samples(AccountInfo_df,12)
Address_df =generate_new_values_by_samples(Address_df,20)
Amount_df = generate_new_values_by_samples(Amount_df,12)
CreditLine_df = generate_new_values_by_samples(CreditLine_df,12)
CurrentAccount_df = generate_new_values_by_samples(CurrentAccount_df,12)
CustomerProfile_df = generate_new_values_by_samples(CustomerProfile_df,12)
PositionKeeping_df = generate_new_values_by_samples(PositionKeeping_df,16)

In [263]:
print(len(AccountInfo_df))
print(len(Address_df))
print(len(Amount_df))
print(len(CreditLine_df))
print(len(CurrentAccount_df))
print(len(CustomerProfile_df))
print(len(PositionKeeping_df))

1297441
1090853
1297441
1297441
1297441
1297441
1013677

In [264]:
#Tratamiento secuencia CustomerProfile
CustomerProfile_df.reset_index()
CustomerProfile_df['PartyId'] = CustomerProfile_df.index
CustomerProfile_df['PartyNumber'] = CustomerProfile_df.index

In [265]:
#Tratamiento secuencia Current Account
AccountInfo_df.reset_index()
AccountInfo_df['AccountInfoId'] = AccountInfo_df.index

In [266]:
#Tratamiento secuencia Address
Address_df.reset_index()
Address_df['PartyId'] = range(0,len(Address_df))

In [267]:
#Tratamiento secuencia Amount
Amount_df.reset_index()
Amount_df['AmountId'] = Amount_df.index

In [268]:
#Tratamiento secuencia CreditLine
CreditLine_df.reset_index()
CreditLine_df['CreditLineId'] = CreditLine_df.index

In [269]:
#Tratamiento secuencia CustomerProfile
CurrentAccount_df.reset_index()
CurrentAccount_df['PartyId'] = CustomerProfile_df.index
CurrentAccount_df['AccountId'] = CurrentAccount_df.index

In [270]:
#Tratamiento position keeping
PositionKeeping_df.reset_index()
PositionKeeping_df['AmountId'] = PositionKeeping_df.index
PositionKeeping_df['CreditLineId'] = PositionKeeping_df.index

In [271]:
#Volcado de ficheros 1 Millon de registros
AccountInfo_df.to_csv(AccountInfo_file_out, index=False)
Address_df.to_csv(Address_file_out, index=False)
Amount_df.to_csv(Amount_file_out, index=False)
CurrentAccount_df.to_csv(CurrentAccount_file_out, index=False)
CustomerProfile_df.to_csv(CustomerProfile_file_out, index=False)
PositionKeeping_df.to_csv(Position_Keeping_file_out, index=False)
CreditLine_df.to_csv(CreditLine_file_out, index=False)