Script de generación de datos documentales TFM Daniel Herranz Segundo

In [222]:
import pandas as pd
import numpy as np
import os
import json
import random

In [263]:
#Variables de los ficheros de datos salida
CurrentAccountCollection_file_out = '../MockData/MongoDB/CurrentAccountCollection/CurrentAccountCollection.json'
PositionKeepingCollection_file_out = '../MockData/MongoDB/PositionKeepingCollection/PositionKeepingCollection.json'
CustomerProfileCollection_file_out = '../MockData/MongoDB/CustomerProfileCollection/CustomerProfileCollection.json'

CurrentAccountCollection_sample_out = '../MockData/MongoDB/CurrentAccountCollection/CurrentAccountCollection_sample.json'
PositionKeepingCollection_sample_out = '../MockData/MongoDB/PositionKeepingCollection/PositionKeepingCollection_sample.json'
CustomerProfileCollection_sample_out = '../MockData/MongoDB/CustomerProfileCollection/CustomerProfileCollection_sample.json'

In [224]:
#Función para resetear ficheros de salida
def reset_files(file):
    if os.path.exists(file):
        os.remove(file)
        print("The file", file ,"have been removed")
    else:
        print("The file", file ,"does not exist")

In [264]:
#Limpiamos los ficheros de salida
reset_files(CurrentAccountCollection_file_out)
reset_files(PositionKeepingCollection_file_out)
reset_files(CustomerProfileCollection_file_out)
reset_files(CurrentAccountCollection_sample_out)
reset_files(PositionKeepingCollection_sample_out)
reset_files(CustomerProfileCollection_sample_out)

The file ../MockData/MongoDB/CurrentAccountCollection/CurrentAccountCollection.json does not exist
The file ../MockData/MongoDB/PositionKeepingCollection/PositionKeepingCollection.json does not exist
The file ../MockData/MongoDB/CustomerProfileCollection/CustomerProfileCollection.json does not exist
The file ../MockData/MongoDB/CurrentAccountCollection/CurrentAccountCollection_sample.json have been removed
The file ../MockData/MongoDB/PositionKeepingCollection/PositionKeepingCollection_sample.json does not exist
The file ../MockData/MongoDB/CustomerProfileCollection/CustomerProfileCollection_sample.json have been removed

# Generación coleccion CustomerProfile para MongoDB

In [475]:
#Carga de la información de dataframes por entidades

Address_df = pd.read_csv('../MockData/Address_1M.csv')
CustomerProfile_df = pd.read_csv('../MockData/CustomerProfile_1M.csv')
Country_df = pd.read_csv('../MockData/base/Country.csv')

In [476]:
#Indexado PartyId para mejor legibilidad
CustomerProfile_df['PartyId'].reset_index()
CustomerProfile_df['PartyId'] = CustomerProfile_df.index
#CustomerProfile_df.columns
del(CustomerProfile_df['Unnamed: 0'])
del(CustomerProfile_df['Unnamed: 10'])

del(Country_df['Unnamed: 4'])
del(Country_df['CountryId'])

del(Address_df['Unnamed: 0'])
del(Address_df['Unnamed: 9'])
del(Address_df['PartyId'])
del(Address_df['CountryId'])

#Limpieza de datos. Eliminamos el apostrofe del campo AccountRole y PartyType
CustomerProfile_df['AccountRole'] = CustomerProfile_df['AccountRole'].str.replace("'",'')
CustomerProfile_df['PartyType'] = CustomerProfile_df['PartyType'].str.replace("'",'')

In [477]:
CustomerProfile_df = CustomerProfile_df.sample(1000) #Comentar si modo real
Address_df = Address_df.sample(1000)

In [479]:
#Agregamos una columna de pais a las direcciones
CountryColumn = []

for i in range (0,len(Address_df)): 
    CountryArrayAsJSON = json.loads(Country_df.sample(1).to_json(orient ='records'))
    CountryColumn.append(CountryArrayAsJSON)    

Address_df['Country'] = CountryColumn

#Agreación de direcciones (Address) a la colección Customer Profile
#Tratamiento de las direcciones. Creamos de forma aleatoria entre 1 y 10 como agregado del CustomerProfile
AddressColumn = []
len(CurrentAccount_df)

for i in range (0,len(CustomerProfile_df)): 
    AddressArrayAsJSON = json.loads(Address_df.sample(random.choice(range(1,3))).to_json(orient ='records'))
    AddressColumn.append(AddressArrayAsJSON)    
    
CustomerProfile_df['Address'] = AddressColumn
CustomerProfile_df.sample(2)

,PartyId,PartyNumber,PartyType,Name,FullLegalName,LegalStructure,BeneficialOwnership,AccountRole,EmailAddress,Phone,Address
455291,455291,3297,sol,Odell,Prof. Dashawn Block,Mr.,6,UK.OBIE.Principal,arielle89@example.net,(286)361-353,"[{'AddressType': 'West', 'AddressLine': '32474..."
406250,406250,9910,sol,Walter,Rhoda Borer,Dr.,2,DE.OBIE.Principal,mustafa.hane@example.net,181-024-5498,"[{'AddressType': 'East', 'AddressLine': '5978 ..."

In [480]:
#Volcado fichero JSON
CustomerProfile_df.to_json(CustomerProfileCollection_sample_out,orient ='records') #Sample for testing
#CustomerProfileSample_df.to_json(CustomerProfileCollection_file_out,orient ='records') #Final file

# Generación colección CurrentAccount para MongoDB

In [346]:
#Carga de datasets necesarias para la colección

AccountInfo_df = pd.read_csv('../MockData/AccountInfo_1M.csv')
CurrentAccount_df = pd.read_csv('../MockData/CurrentAccount_1M.csv')

In [347]:
AccountInfo_df.columns

Index(['Unnamed: 0', 'AccountInfoId', 'AccountId', 'SchemeName',
       'Identification', 'Name', 'Unnamed: 5', 'PartyId'],
      dtype='object')

In [348]:
CurrentAccount_df.columns

Index(['Unnamed: 0', 'AccountId', 'PartyId', 'Status', 'StatusUpdateDateTime',
       'AccountType', 'NickName', 'OpeningDate', 'AccountSubType',
       'Unnamed: 8'],
      dtype='object')

In [349]:
#Limpieza de columnas residuales y no necesarias en el documento
del(AccountInfo_df['Unnamed: 0'])
del(AccountInfo_df['Unnamed: 5'])
del(AccountInfo_df['AccountInfoId'])
del(AccountInfo_df['AccountId'])
del(AccountInfo_df['PartyId'])
del(CurrentAccount_df['Unnamed: 0'])
del(CurrentAccount_df['Unnamed: 8'])

In [350]:
#Limpieza de datos. Eliminamos el apostrofe del campo Status y AccountType y AccountSubType (IMPORTANTE)
CurrentAccount_df['Status'] = CurrentAccount_df['Status'].str.replace("'",'')
CurrentAccount_df['AccountType'] = CurrentAccount_df['AccountType'].str.replace("'",'')
CurrentAccount_df['AccountSubType'] = CurrentAccount_df['AccountSubType'].str.replace("'",'')
#Limpieza de datos. Eliminamos el apostrofe del campo SchemeName (IMPORTANTE)
AccountInfo_df['SchemeName'] = AccountInfo_df['SchemeName'].str.replace("'",'')

In [351]:
CurrentAccount_df.sample(1)

,AccountId,PartyId,Status,StatusUpdateDateTime,AccountType,NickName,OpeningDate,AccountSubType
258667,3675,176,Enabled,2019-09-26 08:36:02.00,Particular,exploit bleeding-edge applications,1999-12-25 08:13:40.00,EDP

In [352]:
AccountInfo_df.sample(1)

          SchemeName  Identification             Name
1219823  UK.business             7.0  Cummings-Feeney

In [353]:
#Creamos un sample. Testing (comentar en generación real)
CurrentAccount_df = CurrentAccount_df.sample(1000)
AccountInfo_df = AccountInfo_df.sample(50)

In [354]:
#Generamos la colección agregando AccountInfo a las cuentas

AccountInfoColumn = []
CurrentAccountCollection = pd.DataFrame()

len(CurrentAccount_df)

for i in range (0,len(CurrentAccount_df)):     
    AccountInfoArrayAsJSON = json.loads(AccountInfo_df.sample(random.choice(range(1,3))).to_json(orient ='records'))
    AccountInfoColumn.append(AccountInfoArrayAsJSON)    
    
CurrentAccount_df['AccountInfo'] = AccountInfoColumn

In [355]:
CurrentAccount_df.sample(1)

,AccountId,PartyId,Status,StatusUpdateDateTime,AccountType,NickName,OpeningDate,AccountSubType,AccountInfo
930059,366,1608,Enabled,1971-12-21 03:40:32.00,Particular,revolutionize B2C functionalities,1984-02-16 04:25:37.00,EDP,[{'SchemeName': 'UK.OBIE.SortCodeAccountNumber...

In [356]:
len(CurrentAccount_df)

1000

In [359]:
#Volcado fichero JSON
#CurrentAccount_df.to_json(CurrentAccountCollection_sample_out,orient ='records') #Sample for testing
CustomerProfileSample_df.to_json(CustomerProfileCollection_file_out,orient ='records') #Final file

# Generación colección PositionKeeping para MongoDB

In [401]:
#Carga de datasets necesarias para la colección
Amount_df = pd.read_csv('../MockData/Amount_1M.csv')
CreditLine_df = pd.read_csv('../MockData/CreditLine_1M.csv')
Currency_df = pd.read_csv('../MockData/base/Currency.csv')
PositionKeeping_df = pd.read_csv('../MockData/Position_Keeping_1M.csv')

In [402]:
#Verificación de columnas
print(Amount_df.columns)
print(Country_df.columns)
print(CreditLine_df.columns)
print(Currency_df.columns)
print(PositionKeeping_df.columns)

Index(['Unnamed: 0', 'AmountId', 'CurrencyId', 'Amount', 'Unnamed: 3'], dtype='object')
Index(['CountryId', 'ShortName', 'Description', 'Code', 'Unnamed: 4'], dtype='object')
Index(['Unnamed: 0', 'CreditLineId', 'CurrencyId', 'Amount', 'Type',
       'Included', 'Unnamed: 5'],
      dtype='object')
Index(['CurrencyId', 'Code', 'Description', 'Unnamed: 3'], dtype='object')
Index(['Unnamed: 0', 'AccountId', 'DateTime', 'CreditDebitIndicator', 'Type',
       'AmountId', 'CreditLineId', 'Unnamed: 6'],
      dtype='object')

In [362]:
#Limpieza de columnas residuales y no necesarias en el documento
del(Amount_df['Unnamed: 0'])
del(Amount_df['Unnamed: 3'])
del(Amount_df['CurrencyId'])
del(Amount_df['AmountId'])

del(Country_df['Unnamed: 4'])
del(Country_df['CountryId'])

del(Country_df['Unnamed: 0'])
del(CreditLine_df['Unnamed: 5'])
del(CreditLine_df['CreditLineId'])
del(CreditLine_df['CurrencyId'])

del(Currency_df['Unnamed: 3'])
del(Currency_df['CurrencyId'])

del(PositionKeeping_df['Unnamed: 0'])
del(PositionKeeping_df['Unnamed: 6'])
del(PositionKeeping_df['CreditLineId'])
del(PositionKeeping_df['AmountId'])
del(PositionKeeping_df['AccountId'])

In [364]:
#Creamos samples. Testing (comentar en generación real)
Amount_df = Amount_df.sample(250)
CreditLine_df = CreditLine_df.sample(250)
PositionKeeping_df = PositionKeeping_df.sample(1000)

In [398]:
#Generamos la colección PositionKeeping

len(PositionKeeping_df)

AmountColumn = []
CreditLineColumn = []

for i in range (0,len(PositionKeeping_df)):    
    valueAmount = {'Currency': Currency_df.sample(1).to_json(orient = 'records'), 'Amount' : Amount_df.sample(1).to_json(orient ='records')}
    AmountColumn.append(valueAmount)
    valueCreditLine = {
    'Included' : CreditLine_df.sample(1)['Included'].to_json(orient ='records'),                    
    'Type': CreditLine_df.sample(1)['Type'].to_json(orient ='records'),
    'Amount': { 'Currency': Currency_df.sample(1).to_json(orient = 'records'), 'Amount' : CreditLine_df.sample(1).to_json(orient ='records') }
    }
    CreditLineColumn.append(valueCreditLine)


PositionKeeping_df['Amount'] = AmountColumn
PositionKeeping_df['CreditLine'] = CreditLineColumn
PositionKeeping_df.sample(1)

,DateTime,CreditDebitIndicator,Type,Amount,CreditLine
65076,1973-06-01 09:59:57.00,'Debit','Business',"{'Currency': '[{""Code"":""USA"",""Description"":""Ut...","{'Included': '[0]', 'Type': '[""'InterimBooked'..."

In [399]:
len(PositionKeeping_df)

1000

In [400]:
#Volcado fichero JSON
PositionKeeping_df.to_json(PositionKeepingCollection_sample_out,orient ='records') #Final file
#PositionKeeping_df.to_json(PositionKeepingCollection_file_out,orient ='records') #Final file