In [3]:
from sqlalchemy import event
import pandas as pd
import numpy as np
import sqlalchemy
import time
import matplotlib.pyplot as plt
import psutil
import random
from sqlalchemy import create_engine

In [2]:
def save_results_to_csv(results,file):
    #Guardamos los resultados en csv
    from datetime import datetime
    
    csv_df = pd.DataFrame(results, columns=['Registros', 'Tiempo', 'CPU','Memoria'])
    dia = datetime.now().strftime("%d%m%Y_%H_%M_%S")
    csv_df.to_csv(file.format(str(dia)))

In [7]:
engine = create_engine('mysql://root:mysql@127.0.0.1:6446/CurrentAccountDomainSchema')
engine.execute('set global group_replication_transaction_size_limit = 300000000;')

In [8]:
@event.listens_for(engine, "before_cursor_execute")
def receive_before_cursor_execute(
       conn, cursor, statement, params, context, executemany
        ):
            if executemany:
                cursor.fast_executemany = True

In [10]:
CurrentAccount_csv_file = "../MockData/CurrentAccount.csv"
AccountInfo_csv_file = "../MockData/AccountInfo.csv"

In [25]:
#Ficheros de salida
resultados_etl_CutomerProfileSchema = '../Results/MySQL/MySQLCustomerProfileSchema_{}.csv'
resultados_etl_PositionKeepingSchema = '../Results/MySQL/MySQLresultsPositionKeepingSchema_{}.csv'
resultados_etl_CurrentAccountSchema = '../Results/MySQL/MySQLCurrentAccountSchema_{}.csv'
resultados_borrado_MySQL = '../Results/MySQL/MySQLDelete_{}.csv'

In [12]:
CurrentAccount_df = pd.read_csv(CurrentAccount_csv_file, header=[0])
del(CurrentAccount_df['Unnamed: 8'])
CurrentAccount_df['Status'] = CurrentAccount_df['Status'].str.replace("'",'')
CurrentAccount_df['AccountType'] = CurrentAccount_df['AccountType'].str.replace("'",'')
CurrentAccount_df['AccountSubType'] = CurrentAccount_df['AccountSubType'].str.replace("'",'')
CurrentAccount_df.sample(5)

,AccountId,PartyId,Status,StatusUpdateDateTime,AccountType,NickName,OpeningDate,AccountSubType
8388,8389,8389,Enabled,2020-01-17 21:49:38.00,Business,iterate enterprise deliverables,1974-09-22 19:08:29.00,SAI
9994,9995,9995,Disabled,1983-10-13 03:08:48.00,Business,revolutionize killer initiatives,1995-05-01 11:41:46.00,EDP
1478,1479,1479,Disabled,2006-04-05 12:23:49.00,Business,transform B2B schemas,2010-03-30 21:38:01.00,EDP
5518,5519,5519,Enabled,2002-06-11 05:41:59.00,Particular,benchmark turn-key supply-chains,1970-09-21 15:33:30.00,EDP
6837,6838,6838,Disabled,1991-07-16 18:19:42.00,Particular,orchestrate efficient infomediaries,2020-03-18 08:37:48.00,POI

In [13]:
AccountInfo_df = pd.read_csv(AccountInfo_csv_file, header=[0])
del(AccountInfo_df['Unnamed: 5'])
AccountInfo_df['SchemeName'] = AccountInfo_df['SchemeName'].str.replace("'",'')
SchemeNameList=['ES.OBIE.SortCodeAccountNumber','UK.OBIE.ExternalccountNumber','ES.OBIE.ExternalAccountNumber']
AccountInfo_df['SchemeName'] = np.resize(SchemeNameList,len(AccountInfo_df))

IdentificationList=['Investment','Money Market','Mortgage','Loan']
AccountInfo_df['Identification'] = np.resize(IdentificationList,len(AccountInfo_df))

AccountInfo_df.sample(5)

,AccountInfoId,AccountId,SchemeName,Identification,Name
1944,1945,1945,ES.OBIE.SortCodeAccountNumber,Investment,Murazik Ltd
2910,2911,2911,ES.OBIE.SortCodeAccountNumber,Mortgage,Considine-Dooley
869,870,870,ES.OBIE.ExternalAccountNumber,Money Market,"Huels, Treutel and Jacobi"
8840,8841,8841,ES.OBIE.ExternalAccountNumber,Investment,Jacobi-Harber
6223,6224,6224,UK.OBIE.ExternalccountNumber,Loan,Marks Ltd

In [14]:
for x in range(12):
    CurrentAccount_df = CurrentAccount_df.append(CurrentAccount_df.sample(frac=0.50,replace = True))
CurrentAccount_df = CurrentAccount_df.iloc[:1000000,]    
print(len(CurrentAccount_df))
del(CurrentAccount_df['AccountId'])
CurrentAccount_df.tail()

1000000

,PartyId,Status,StatusUpdateDateTime,AccountType,NickName,OpeningDate,AccountSubType
6499,6500,Enabled,1972-08-01 01:02:10.00,Business,incentivize interactive initiatives,1991-04-07 22:00:00.00,POI
7762,7763,Disabled,1981-05-15 03:51:39.00,Business,visualize cutting-edge models,2015-07-04 01:47:36.00,POI
6304,6305,Enabled,2004-08-13 09:27:33.00,Particular,brand compelling webservices,1984-03-17 22:09:19.00,POI
9363,9364,Disabled,1989-08-16 15:57:46.00,Particular,syndicate front-end architectures,2002-10-08 18:32:58.00,EDP
1393,1394,Enabled,2000-05-07 05:03:27.00,Particular,integrate collaborative web-readiness,2020-05-04 04:17:30.00,POI

In [15]:
for x in range(12):
    AccountInfo_df = AccountInfo_df.append(AccountInfo_df.sample(frac=0.50,replace = True))  
del(AccountInfo_df['AccountInfoId'])
list_accountid = []
AccountInfo_df['AccountId'] = AccountInfo_df.index
AccountInfo_df = AccountInfo_df.iloc[:1000000,]    
print(len(AccountInfo_df))  
AccountInfo_df.tail()

1000000

,AccountId,SchemeName,Identification,Name
4504,4504,UK.OBIE.ExternalccountNumber,Investment,Casper-Dicki
7822,7822,UK.OBIE.ExternalccountNumber,Mortgage,Macejkovic-Haag
5353,5353,UK.OBIE.ExternalccountNumber,Money Market,Harvey Group
7741,7741,UK.OBIE.ExternalccountNumber,Money Market,"Lueilwitz, Cremin and Green"
3245,3245,ES.OBIE.ExternalAccountNumber,Money Market,Mohr PLC

In [16]:
result = engine.execute('SET foreign_key_checks = {}'.format(0))

In [17]:
chunks = len(CurrentAccount_df) // 1000
previous_chunk = 0
CurrentAccount_df_chunks_array = []
for i in range(0,chunks):
    chunks = chunks + 1297
    CurrentAccount_df_chunks_array.append(CurrentAccount_df.iloc[previous_chunk:chunks,])     
    previous_chunk = chunks
len(CurrentAccount_df_chunks_array)

1000

In [18]:
chunks = len(AccountInfo_df) // 1000
previous_chunk = 0
AccountInfo_df_chunks_array = []
for i in range(0,chunks):
    chunks = chunks + 1297
    AccountInfo_df_chunks_array.append(AccountInfo_df.iloc[previous_chunk:chunks,])     
    previous_chunk = chunks
len(AccountInfo_df_chunks_array)

1000

In [19]:
#engine.execute('ALTER TABLE CurrentAccountDomainSchema.CurrentAccount ALTER AccountId SET DEFAULT 0')
registers_CurrentAccount_df = []
iter = 0
for i in range(0,len(CurrentAccount_df_chunks_array)):
    iter = iter + 1
    tiempo_ini = time.time()
    CurrentAccount_df_chunks_array[i].to_sql("CurrentAccount", engine, index=False, if_exists="append", schema="CurrentAccountDomainSchema")
    AccountInfo_df_chunks_array[i].to_sql("AccountInfo", engine, index=False, if_exists="append", schema="CurrentAccountDomainSchema")   
    tiempo_fin = time.time()
    used_cpu = psutil.cpu_percent()
    used_mem = psutil.virtual_memory().percent
    registers_CurrentAccount_df.append((iter * 1000, round((tiempo_fin - tiempo_ini),3), used_cpu, used_mem))

In [20]:
#Resultados SQL CurrentAccountDomainSchema.CurrentAccount
data = registers_CurrentAccount_df
results_CurrentAccount_df = pd.DataFrame(data, columns =['Registros', 'Tiempo', 'CPU','Memoria'])
results_CurrentAccount_df.sample(5)

     Registros  Tiempo   CPU  Memoria
397     398000   0.075  42.0     40.4
737     738000   0.077  36.7     42.8
758     759000   0.090  37.0     43.0
911     912000   0.006  25.0     43.1
309     310000   0.079  32.7     39.8

In [21]:
#Almacenamos los resultados en csv
save_results_to_csv(results_CurrentAccount_df,resultados_etl_CurrentAccountSchema)

In [22]:
results_CurrentAccount_df

     Registros  Tiempo   CPU  Memoria
0         1000   0.336   9.8     37.7
1         2000   0.212  26.0     37.7
2         3000   0.211  25.8     37.7
3         4000   0.256  25.8     37.7
4         5000   0.095  37.9     37.7
..         ...     ...   ...      ...
995     996000   0.006   0.0     43.1
996     997000   0.006   0.0     43.1
997     998000   0.006   0.0     43.0
998     999000   0.006  33.3     43.0
999    1000000   0.006  25.0     43.0

[1000 rows x 4 columns]

In [24]:
engine.execute('SET foreign_key_checks = {}'.format(1))