TFM Daniel Herranz Segundo
Script de adaptacion de los dataset de entidades para carga en modelo columnar

In [1]:
import pandas as pd
import numpy as np
import os
import json
import random

In [2]:
#Variables de los ficheros de datos salida
CurrentAccountKeyspace_file_out = '../MockData/Cassandra/CurrentAccountKeyspace/CurrentAccountKeyspace.csv'
CurrentAccountKeyspaceAccountInfo_file_out = '../MockData/Cassandra/CurrentAccountKeyspace/CurrentAccountAccountInfoKeyspace.csv'
PositionKeepingKeyspace_file_out = '../MockData/Cassandra/PositionKeepingKeyspace/PositionKeepingKeyspace.csv'
CustomerProfileKeyspace_file_out = '../MockData/Cassandra/CustomerProfileKeyspace/CustomerProfileKeyspace.csv'
CustomerProfileAddressKeyspace_file_out = '../MockData/Cassandra/CustomerProfileKeyspace/CustomerProfileAddressKeyspace.csv'

CurrentAccountKeyspace_sample_out = '../MockData/Cassandra/CurrentAccountKeyspace/CurrentAccountKeyspace_sample.csv'
CurrentAccountKeyspaceAccountInfo_sample_out = '../MockData/Cassandra/CurrentAccountKeyspace/CurrentAccountAccountInfoKeyspace_sample.csv'
PositionKeepingKeyspace_sample_out = '../MockData/Cassandra/PositionKeepingKeyspace/PositionKeepingKeyspace_sample.csv'
CustomerProfileKeyspaceCustomer_sample_out = '../MockData/Cassandra/CustomerProfileKeyspace/CustomerProfileKeyspace_sample.csv'
CustomerProfileKeyspaceAddress_sample_out = '../MockData/Cassandra/CustomerProfileKeyspace/CustomerProfileAddressKeyspace_sample.csv'

CurrentAccountKeyspace_100K_sample_out = '../MockData/Cassandra/CurrentAccountKeyspace/CurrentAccountKeyspace_100K_sample.csv'
CurrentAccountKeyspaceAccountInfo_100K_sample_out = '../MockData/Cassandra/CurrentAccountKeyspace/CurrentAccountAccountInfoKeyspace_100K_100K_sample.csv'
PositionKeepingKeyspace_100K_sample_out = '../MockData/Cassandra/PositionKeepingKeyspace/PositionKeepingKeyspace_100K_sample.csv'
CustomerProfileKeyspaceCustomer_100K_sample_out = '../MockData/Cassandra/CustomerProfileKeyspace/CustomerProfileKeyspace_100K_sample.csv'
CustomerProfileKeyspaceAddress_100K_sample_out = '../MockData/Cassandra/CustomerProfileKeyspace/CustomerProfileAddressKeyspace_100K_sample.csv'

CurrentAccountKeyspace_500K_sample_out = '../MockData/Cassandra/CurrentAccountKeyspace/CurrentAccountKeyspace_500K_sample.csv'
CurrentAccountKeyspaceAccountInfo_500K_sample_out = '../MockData/Cassandra/CurrentAccountKeyspace/CurrentAccountAccountInfoKeyspace_500K_sample.csv'
PositionKeepingKeyspace_500K_sample_out = '../MockData/Cassandra/PositionKeepingKeyspace/PositionKeepingKeyspace_500K_sample.csv'
CustomerProfileKeyspaceCustomer_500K_sample_out = '../MockData/Cassandra/CustomerProfileKeyspace/CustomerProfileKeyspace_500K_sample.csv'
CustomerProfileKeyspaceAddress_500K_sample_out = '../MockData/Cassandra/CustomerProfileKeyspace/CustomerProfileAddressKeyspace_500K_sample.csv'

In [3]:
#Función para resetear ficheros de salida
def reset_files(file):
    if os.path.exists(file):
        os.remove(file)
        print("The file", file ,"have been removed")
    else:
        print("The file", file ,"does not exist")

In [4]:
#Limpiamos los ficheros de salida
reset_files(CurrentAccountKeyspace_file_out)
reset_files(CurrentAccountKeyspaceAccountInfo_file_out)
reset_files(PositionKeepingKeyspace_file_out)
reset_files(CustomerProfileKeyspace_file_out)
reset_files(CustomerProfileAddressKeyspace_file_out)

reset_files(CurrentAccountKeyspace_100K_sample_out)
reset_files(CurrentAccountKeyspaceAccountInfo_100K_sample_out)
reset_files(PositionKeepingKeyspace_100K_sample_out)
reset_files(CustomerProfileKeyspaceCustomer_100K_sample_out)
reset_files(CustomerProfileKeyspaceAddress_100K_sample_out)

reset_files(CurrentAccountKeyspace_500K_sample_out)
reset_files(CurrentAccountKeyspaceAccountInfo_500K_sample_out)
reset_files(PositionKeepingKeyspace_500K_sample_out)
reset_files(CustomerProfileKeyspaceCustomer_500K_sample_out)
reset_files(CustomerProfileKeyspaceAddress_500K_sample_out)

reset_files(CurrentAccountKeyspace_sample_out)
reset_files(CurrentAccountKeyspaceAccountInfo_sample_out)
reset_files(PositionKeepingKeyspace_sample_out)
reset_files(CustomerProfileKeyspaceCustomer_sample_out)
reset_files(CustomerProfileKeyspaceAddress_sample_out)

The file ../MockData/Cassandra/CurrentAccountKeyspace/CurrentAccountKeyspace.csv have been removed
The file ../MockData/Cassandra/CurrentAccountKeyspace/CurrentAccountAccountInfoKeyspace.csv have been removed
The file ../MockData/Cassandra/PositionKeepingKeyspace/PositionKeepingKeyspace.csv have been removed
The file ../MockData/Cassandra/CustomerProfileKeyspace/CustomerProfileKeyspace.csv have been removed
The file ../MockData/Cassandra/CustomerProfileKeyspace/CustomerProfileAddressKeyspace.csv have been removed
The file ../MockData/Cassandra/CurrentAccountKeyspace/CurrentAccountKeyspace_100K_sample.csv does not exist
The file ../MockData/Cassandra/CurrentAccountKeyspace/CurrentAccountAccountInfoKeyspace_100K_100K_sample.csv does not exist
The file ../MockData/Cassandra/PositionKeepingKeyspace/PositionKeepingKeyspace_100K_sample.csv does not exist
The file ../MockData/Cassandra/CustomerProfileKeyspace/CustomerProfileKeyspace_100K_sample.csv does not exist
The file ../MockData/Cassandra/CustomerProfileKeyspace/CustomerProfileAddressKeyspace_100K_sample.csv does not exist
The file ../MockData/Cassandra/CurrentAccountKeyspace/CurrentAccountKeyspace_500K_sample.csv does not exist
The file ../MockData/Cassandra/CurrentAccountKeyspace/CurrentAccountAccountInfoKeyspace_500K_sample.csv does not exist
The file ../MockData/Cassandra/PositionKeepingKeyspace/PositionKeepingKeyspace_500K_sample.csv does not exist
The file ../MockData/Cassandra/CustomerProfileKeyspace/CustomerProfileKeyspace_500K_sample.csv does not exist
The file ../MockData/Cassandra/CustomerProfileKeyspace/CustomerProfileAddressKeyspace_500K_sample.csv does not exist
The file ../MockData/Cassandra/CurrentAccountKeyspace/CurrentAccountKeyspace_sample.csv have been removed
The file ../MockData/Cassandra/CurrentAccountKeyspace/CurrentAccountAccountInfoKeyspace_sample.csv have been removed
The file ../MockData/Cassandra/PositionKeepingKeyspace/PositionKeepingKeyspace_sample.csv have been removed
The file ../MockData/Cassandra/CustomerProfileKeyspace/CustomerProfileKeyspace_sample.csv have been removed
The file ../MockData/Cassandra/CustomerProfileKeyspace/CustomerProfileAddressKeyspace_sample.csv have been removed

# Generacion ficheros keyspace CustomerProfile

In [5]:
#Carga de la información de dataframes por entidades

Address_df = pd.read_csv('../MockData/Address_1M.csv')
CustomerProfile_df = pd.read_csv('../MockData/CustomerProfile_1M.csv')
Country_df = pd.read_csv('../MockData/base/Country.csv')

In [6]:
# --- NO EJECUTAR ESTA LINEA SI SE GENERA EN MODO REAL ---- #
CustomerProfile_df = CustomerProfile_df.sample(1000) #Comentar si modo real
Address_df = Address_df.sample(1000)

In [7]:
CustomerProfile_df.sample(1)

,PartyId,PartyNumber,PartyType,Name,FullLegalName,LegalStructure,BeneficialOwnership,AccountRole,EmailAddress,Phone
1269492,2701,2701,sol,Maynard,Prof. Coleman Bayer DDS,Prof.,5,DE.OBIE.Principal,treutel.adalberto@example.com,143-385-6424

In [8]:
Address_df.sample(1)

,PartyId,AddressType,AddressLine,StreetName,BuildingNumber,PostCode,TownName,CountrySubDivision,CountryId
233645,233645,Lake,8772 Muller Parkway,Sherwood Island,990,74362-0189,Alexanderton,1.0,2

In [9]:
Country_df.sample(1)

,CountryId,ShortName,Description,Code,Unnamed: 4
0,1,Spain,Omnis dolore id dicta consequatur sit omnis. E...,IND,NaN

In [10]:
#Desnormalizamos la información para la carga en Cassandra
Country_Code_column = []
Country_ShortName_column = []
Country_Description_column = []

for i in range (0,len(Address_df)): 
    country_deployed_df = Country_df.sample(1)
    Country_Code_column.append(country_deployed_df['Code'].iloc[0])
    Country_ShortName_column.append(country_deployed_df['ShortName'].iloc[0])
    Country_Description_column.append(country_deployed_df['Description'].iloc[0])

Address_df['Country_Code'] = Country_Code_column
Address_df['Country_ShortName'] = Country_ShortName_column
Address_df['Country_Description'] = Country_Description_column

Address_df.sample(2)

,PartyId,AddressType,AddressLine,StreetName,BuildingNumber,PostCode,TownName,CountrySubDivision,CountryId,Country_Code,Country_ShortName,Country_Description
362430,362430,West,4837 Walter Haven Apt. 430,Urban Squares,52613,03592-5374,South Shanon,5.0,2,SPA,Greatbrit,Aut sapiente dicta illo consectetur nulla labo...
949244,949244,West,51238 Flo Cliffs,Bogan Cove,76051,98892,West Barbaraville,NaN,3,GBP,USA,Id dolorem a soluta harum iusto qui repellat. ...

In [11]:
#Volcado de los ficheros relacionados con Customer Profile (la carga de direcciones se realizará en CQL)
#Samples (COMENTAR EN MODO FINAL)
CustomerProfile_df.to_csv(CustomerProfileKeyspaceCustomer_sample_out, index= False)
Address_df.to_csv(CustomerProfileKeyspaceAddress_sample_out, index= False)

#Modo final
#CustomerProfile_df.to_csv(CustomerProfileKeyspace_file_out, index= False)
#Address_df.to_csv(CustomerProfileAddressKeyspace_file_out, index= False)

# Generacion de ficheros KeySpace CurrentAccount

In [12]:
#Carga de la información de dataframes por entidades

AccountInfo_df = pd.read_csv('../MockData/AccountInfo_1M.csv')
CurrentAccount_df = pd.read_csv('../MockData/CurrentAccount_1M.csv')

In [13]:
# --- NO EJECUTAR ESTA LINEA SI SE GENERA EN MODO REAL ---- #
CurrentAccount_df = CurrentAccount_df.sample(1000)
AccountInfo_df = AccountInfo_df.sample(250)

In [14]:
CurrentAccount_df.sample(1)

,AccountId,PartyId,Status,StatusUpdateDateTime,AccountType,NickName,OpeningDate,AccountSubType
1280509,7072,6434,Disabled,1979-07-04 19:22:50.00,Particular,mesh 24/7 networks,2021-10-01 16:56:15.00,POI

In [15]:
AccountInfo_df.sample(1)

         AccountInfoId  AccountId SchemeName  Identification            Name
1077065           3448       3449        NaN             2.0  Reinger-Hamill

In [16]:
#Limpieza de columnas no necesarias en el modelo columnar
del(AccountInfo_df['AccountInfoId'])

In [17]:
CurrentAccount_df.sample(1)

,AccountId,PartyId,Status,StatusUpdateDateTime,AccountType,NickName,OpeningDate,AccountSubType
695066,1165,3228,Disabled,2022-03-27 12:30:51.00,Business,embrace extensible infrastructures,2016-04-03 23:04:11.00,EDP

In [18]:
AccountInfo_df.sample(1)

         AccountId SchemeName  Identification          Name
1064433       2342        NaN             6.0  Paucek Group

In [19]:
#Volcado de los ficheros relacionados con Current Account (la carga de direcciones se realizará en CQL)
#Samples (COMENTAR EN MODO FINAL)
CurrentAccount_df.to_csv(CurrentAccountKeyspace_sample_out, index= False)
AccountInfo_df.to_csv(CurrentAccountKeyspaceAccountInfo_sample_out, index= False)

#Modo final
#CurrentAccount_df.to_csv(CurrentAccountKeyspace_file_out, index= False)
#AccountInfo_df.to_csv(CurrentAccountKeyspaceAccountInfo_file_out, index= False)

# Generacion de ficheros KeySpace PositionKeeping

In [20]:
#Carga de datasets necesarias para la colección
Amount_df = pd.read_csv('../MockData/Amount_1M.csv')
CreditLine_df = pd.read_csv('../MockData/CreditLine_1M.csv')
Currency_df = pd.read_csv('../MockData/base/Currency.csv')
PositionKeeping_df = pd.read_csv('../MockData/Position_Keeping_1M.csv')

In [21]:
print(Amount_df.columns)
print(CreditLine_df.columns)
print(Currency_df.columns)
print(PositionKeeping_df.columns)

Index(['AmountId', 'CurrencyId', 'Amount'], dtype='object')
Index(['CreditLineId', 'CurrencyId', 'Amount', 'Type', 'Included'], dtype='object')
Index(['CurrencyId', 'Code', 'Description', 'Unnamed: 3'], dtype='object')
Index(['AccountId', 'DateTime', 'CreditDebitIndicator', 'Type', 'AmountId',
       'CreditLineId'],
      dtype='object')

In [22]:
#Limpieza de columnas residuales y no necesarias en el documento
del(Amount_df['CurrencyId'])
del(Amount_df['AmountId'])

del(CreditLine_df['CreditLineId'])
del(CreditLine_df['CurrencyId'])

del(Currency_df['CurrencyId'])

del(PositionKeeping_df['CreditLineId'])
del(PositionKeeping_df['AmountId'])

In [23]:
#Estado final de atributos para modelo columnar
print(Amount_df.columns)
print(CreditLine_df.columns)
print(Currency_df.columns)
print(PositionKeeping_df.columns)

Index(['Amount'], dtype='object')
Index(['Amount', 'Type', 'Included'], dtype='object')
Index(['Code', 'Description', 'Unnamed: 3'], dtype='object')
Index(['AccountId', 'DateTime', 'CreditDebitIndicator', 'Type'], dtype='object')

In [24]:
#Creamos samples. Testing (comentar en generación real)
Amount_df = Amount_df.sample(500)
CreditLine_df = CreditLine_df.sample(500)
PositionKeeping_df = PositionKeeping_df.sample(1000)

In [25]:
#Procesado de datos PositionKeeping para desnormalizar las entidades en una sola columna compatible con el modelo columnar
Amount_Amount_column = []
Amount_Currency_Description_column = []
Amount_Currency_Code_column = []
CreditLine_Amount_column = []
CreditLine_Currency_Description_column = []
CreditLine_Currency_Code_column = []
CreditLine_Type_column = []
CreditLine_Included_column = []

for i in range (0,len(PositionKeeping_df)):    
    Amount_Amount_column.append(Amount_df.sample(1)['Amount'].iloc[0])
    Amount_Currency_Description_column.append(Currency_df.sample(1)['Description'].iloc[0])
    Amount_Currency_Code_column.append(Currency_df.sample(1)['Code'].iloc[0])
    CreditLine_Amount_column.append(CreditLine_df.sample(1)['Amount'].iloc[0])
    CreditLine_Currency_Description_column.append(Currency_df.sample(1)['Description'].iloc[0])
    CreditLine_Currency_Code_column.append(Currency_df.sample(1)['Code'].iloc[0])
    CreditLine_Type_column.append(CreditLine_df.sample(1)['Type'].iloc[0])
    CreditLine_Included_column.append(CreditLine_df.sample(1)['Included'].iloc[0])

PositionKeeping_df['Amount_Amount'] = Amount_Amount_column
PositionKeeping_df['Amount_Currency_Description'] = Amount_Currency_Description_column
PositionKeeping_df['Amount_Currency_Code'] = Amount_Currency_Code_column
PositionKeeping_df['CreditLine_Amount']= CreditLine_Amount_column
PositionKeeping_df['CreditLine_Currency_Description']= CreditLine_Currency_Description_column
PositionKeeping_df['CreditLine_Currency_Code']= CreditLine_Currency_Code_column
PositionKeeping_df['CreditLine_Type']= CreditLine_Type_column
PositionKeeping_df['CreditLine_Included']= CreditLine_Included_column

PositionKeeping_df.sample(3)

,AccountId,DateTime,CreditDebitIndicator,Type,Amount_Amount,Amount_Currency_Description,Amount_Currency_Code,CreditLine_Amount,CreditLine_Currency_Description,CreditLine_Currency_Code,CreditLine_Type,CreditLine_Included
196377,60,2008-01-30 20:42:00.00,Debit,Business,175864.000000,Dolores sint vero vero maiores nisi. Et quas i...,EUR,4.282109e+05,Ut necessitatibus in iure cum et sint. Minima ...,IND,NaN,0
365421,1987,2015-02-26 09:07:21.00,Debit,Business,2.917745,Est quidem repellendus dolor qui. Eos temporib...,IND,8.820766e+07,Ut necessitatibus in iure cum et sint. Minima ...,EUR,NaN,0
891122,1296,1982-05-11 02:13:45.00,Debit,Particular,577.112384,Dolores sint vero vero maiores nisi. Et quas i...,IND,2.816002e+04,Est quidem repellendus dolor qui. Eos temporib...,IND,NaN,0

In [26]:
#Volcado de los ficheros relacionados con Current Account (la carga de direcciones se realizará en CQL)
#Samples (COMENTAR EN MODO FINAL)
PositionKeeping_df.to_csv(PositionKeepingKeyspace_sample_out, index= False)
#PositionKeeping_df.to_csv(PositionKeepingKeyspace_file_out, index= False)